<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>b3d6b246db287885b9e1f42db244dfb1</string>
	<key>App_URL</key>
	<string>$(APP_URL)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.trioangle.goferhandy.process</string>
		<string>com.trioangle.goferhandy.refresh</string>
	</array>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(USER_APP_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cliqbuy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(USER_APP_NAME)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$USER_BUNDLE_ID</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.659888959339-6lg7sqn2g20jr8clt58ril5pkv301i6i</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(FBAKID)</string>
				<string>$(FBCONTENTID)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$USER_APP_NAME</string>
			</array>
		</dict>
	</array>
	<key>ThemeColors</key>
	<dict>
		<key>InstantBookColor</key>
		<string>ffb300</string>
		<key>CovidSheildColor</key>
		<string>35af00</string>
		<key>GuestDarkThemeColor</key>
		<string>00464d</string>
		<key>GuestThemeColor</key>
		<string>00A699</string>
		<key>FavoriteColor</key>
		<string>ff7272</string>
		<key>HostThemeColor</key>
		<string>FF5A5F</string>
	</dict>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>$(FBID)</string>
	<key>FacebookClientToken</key>
	<string>$(FBAKID)</string>
	<key>FacebookDisplayName</key>
	<string>$(FBDISPLAYNAME)</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>Google_API_keys</key>
	<string>$GOOGLE_API_KEY</string>
	<key>Google_Places_keys</key>
	<string>$GOOGLE_MAP_KEY</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>skype</string>
		<string>whatsapp</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb</string>
		<string>fb-messenger-share-api</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-platform-20150128</string>
		<string>fb-messenger-platform-20150218</string>
		<string>fb-messenger-platform-20150305</string>
		<string>fb-messenger-api</string>
		<string>fbshareextension</string>
		<string>comgooglemaps</string>
		<string>googlechromes</string>
		<string>$(USER_APP_NAME)</string>
		<string>org-appextension-feature-password-management</string>
		<string>com.paypal.ppclient.touch.v2</string>
		<string>com.paypal.ppclient.touch.v1</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) to Enable camera access so that you can allow Provider to view your photo.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(USER_APP_NAME) track your position to calculate the trip distance.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>wantAccurateLocation</key>
		<string>$(PRODUCT_NAME) track your position to calculate the trip distance.</string>
	</dict>
	<key>NSLocationUsageDescription</key>
	<string>$(USER_APP_NAME) track your position to calculate the trip distance.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(USER_APP_NAME) track your position to calculate the trip distance.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) uses to contact trip provider.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) to Enable camera access so that you can allow Provider to view your photo.</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>$(REVERSEDCLIENT_ID)</string>
	<key>RedirectionLink_user</key>
	<string>$(REDIRECT_APP_USER)</string>
	<key>ReleaseVersion</key>
	<string>$RELEASE_VERSION</string>
	<key>UIAppFonts</key>
	<array>
		<string>uber-clone-mobile.ttf</string>
		<string>ClanPro-Book.otf</string>
		<string>uber-clone-mobile.ttf</string>
		<string>ClanPro-Medium.otf</string>
		<string>ClanPro-NarrBook.otf</string>
		<string>ClanPro-NarrMedium.otf</string>
		<string>ClanPro-NarrNews.otf</string>
		<string>ClanPro-News.otf</string>
		<string>Amazon Ember Thin.ttf</string>
		<string>Amazon Ember Light.ttf</string>
		<string>Amazon-Ember-Regular.ttf</string>
		<string>Amazon Ember Medium.ttf</string>
		<string>Amazon Ember Bold.ttf</string>
		<string>Amazon Ember Heavy.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UserType</key>
	<string>$USER_TYPE</string>
	<key>iTunesData_provider</key>
	<dict>
		<key>appID</key>
		<string>$DRIVERAPPID</string>
		<key>appName</key>
		<string>$DRIVERAPPNAME</string>
		<key>appStoreDisplayName</key>
		<string>$DRIVERAPPDISPLAYNAME</string>
	</dict>
	<key>iTunesData_user</key>
	<dict>
		<key>appID</key>
		<string>id1603409636</string>
		<key>appName</key>
		<string>$USERAPPNAME</string>
		<key>appStoreDisplayName</key>
		<string>$USERAPPDISPLAYNAME</string>
	</dict>
	<key>swiftVersion</key>
	<string>Swift 5.0</string>
	<key>xcodeVersion</key>
	<string>14.2</string>
</dict>
</plist>
